@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;600&family=Space+Grotesk:wght@700&display=swap');




.map {
    display: flex;
    flex-direction: row;
    

    line-height: 20rem;
    padding-top: 8rem;


    background: #F4AD21;
}



.mapbk9 {
    display: flex;
    flex: row;
    width: 120rem;
    height: 50rem;
}

.mapimg {
    height: 100%;
    width: 100%;
    border-radius: 4rem;
    margin-left: 3rem;

}




.bk92 {
    margin-left: 3rem;



}

.bkp {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3rem;
    line-height: 4rem;
    padding-top: 6rem;
    color: black;
    margin-right: 3rem;
    padding-left: 2rem;

}

.bkd {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3rem;
    line-height: 4rem;
    margin-top: 9rem;
    color: #525761;
    margin-right: 3rem;
    padding-left: 2rem;



}
@media screen and (max-width:1024px) {
    .bkp {
        font-size: 2rem;
        padding-top: 2rem;
    }

    .bkd{
        margin-top: 2rem;
        font-size: 2rem;
    }
    .mapbk9{
        width: 60rem;
        height: 40rem;
        
    }

    
    .map{
        flex-direction: column;
        padding-top: 4rem;
    }
    

   

}

@media screen and (max-width:768px) {
    .bkp {
        font-size: 2rem;
    }
    .map{
        flex-direction: column;
    }

}

@media screen and (max-width:400px) {
    .bkp {
        font-size: 1rem;
        padding-top: 1rem;
        line-height: 30px;
       
        
    } 

    .bkd{
        margin-top: 1rem;
        font-size: 2rem;
        line-height: 30px;
        margin-right: 4rem;
    }
    .map{
        flex-direction: column;
    }
    .mapbk9 {

        display: flex;
        flex: row;
        width: 20rem;
        height: 15rem;
        margin-right: 2rem;
    }

    .mapimg {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        margin-left: 3rem;
    
    }
    .bk92 {
        margin-left: 1rem;
    
    
    
    }
}

