@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400&family=Space+Grotesk:wght@600&display=swap');






.Vpage
{   
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
   
    
    

    background: #F4AD21;
    
}
.mainv
{   
    line-height: 1em;
    max-width: 1000px;
    color: black;
    font-size: 300px;
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 3rem;

}

.subv
{  font-family: 'Darker Grotesque', sans-serif;

  color:#525761;
  font-size: 7rem ;
  line-height: 10rem;
  
  font-weight:bold;
  margin-left: 3rem;
}

@media screen and (max-width:1024px) {

  .mainv{
    font-size: 12rem;
  }
  .subv{
    padding-top: 3rem;
    font-size: 5rem;
    line-height: 4rem;
  }

}
@media screen and (max-width:1440px) {

  .mainv{
    font-size: 15rem;
  }
  .subv{
    padding-top: 4rem;
    font-size: 5rem;
    line-height: 4rem;
  }

}

@media screen and (max-width:400px) {

  .mainv{
    margin-top: 1rem;
    font-size: 5rem;
    margin-left: 3rem;
  }
  .subv{
    padding-top: 2rem;
    font-size: 2rem;
    line-height: 2rem;
  }

}